<div class="row">
      <div class="col-lg-4 clothing-slots">
        <h3>from New items</h3>
        {{#each new_items}}
        <div class="clothing-item">
          <img data-id="{{id}}" src="/placeholder.jpg" height="200" />
          <span data-id="{{id}}">{{color}}/{{size}}/{{material}}/{{price}}$</span>   
        </div>
        {{/each}}
        
      </div>
      <div class="col-lg-4 clothing-slots">
        {{#each look}}
        <h3>look: {{title}}</h3>
          <img data-id="{{id}}" src="/lookholder.jpg" height="300" style="vertical-align:middle; float: left"/>
          <p><a class="btn btn-success" href="#" role="button" style="vertical-align:middle" >Own the Look</a></p>
          
          <div style="clear: both">
        </div>
        {{/each}}  
          <p id="comment">Comments:<br>
            {{#each comments}}
              {{author}}:{{body}}<br>
            {{/each}}
          {{#each look}}
          <form data-id="{{id}}" id="comment-add-form">
            <input type="text" name="comment[body]" value="">
            <input id="submit" type="submit" value="Create Comment">
          </form>
          {{/each}}
          
            
      </div>

      <div class="col-lg-4 clothing-slots">
        <h3>from Closet items</h3>
        {{#each closet_items}}
        <div class="clothing-item">
          <img data-id="{{id}}" src="/placeholder.jpg" height="200" />
          <span data-id="{{id}}">{{category}}/{{color}}/{{size}}/{{material}}</span>   
        </div>
        {{/each}}
       
      </div>
</div>



  
